@font-face {
    font-family: 'Bruno Ace SC';
    src: url(./Bruno_Ace_SC/BrunoAceSC-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Helvetica, sans-serif;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title {
    font-size: 5rem;
    margin-top: 40px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Bruno Ace SC';
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.rules {
    margin-top: 20px;
    font-size: 2rem;
    max-width: 1200px;
}

#start {
    padding: 10px 20px;
    font-size: 1.5rem;
    font-weight: 800;
    margin-top: 50px;
    text-transform: uppercase;
    cursor: pointer;
}

#output {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 900px;
    margin-top: 100px;
}

.score {
    width: 120px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score-title {
    font-size: 2rem;
    font-weight: medium;
    text-transform: uppercase;
    border-top: 3px solid black;
    padding-top: 10px;
}

.score-counter {
    font-size: 3rem;
}

#result {
    font-size: 1.5rem;
}

.invisible {
    opacity: 0%;
    margin-right: 100%;
    width: 1px;
}

#input {
    max-width: 500px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

#input .btn {
    padding: 10px 20px;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
}