@font-face {
    font-family: 'Bruno Ace SC';
    src: url(./Bruno_Ace_SC/BrunoAceSC-Regular.ttf);
}

:root {
    --background-color-black: #000000;
    --background-shadow-black: #242424;
    --background-color-green: #248247;
    --background-color-green-dark: #1F713D;
    --background-color-brown-dark: #8A3324;
    --background-color-chestnut: #954535;
    --background-shadow-brown: #6C3226;
    --text-color-gold: #FFD300;
    --text-shadow-gold: #FFDE24;
    --text-color-red: #8A1919;
    --accent-color-white: #E3DAC9;
    --container-width: 80vw;
    --container-height: 70vh;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--background-color-black);
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color-black);
}

#title {
    font-size: 5rem;
    margin-top: 40px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Bruno Ace SC';
    color: var(--text-color-gold);
    text-shadow: 0 0 5px var(--text-shadow-gold);
}

.outer {
    margin-top: 40px;
    background: radial-gradient(
        circle farthest-side at center,
        var(--background-color-brown-dark) 0,
        var(--background-color-chestnut) 92%,
        var(--background-color-brown-dark) 100%
    );
    width: calc(var(--container-width) + 40px);
    height: calc(var(--container-height) + 40px);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 50px 3px var(--background-shadow-black);
}

.container {
    width: var(--container-width);
    height: var(--container-height);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color-green);
    border: 4px solid var(--background-shadow-brown);
}

/*.rules {
    margin-top: 20px;
    font-size: 2rem;
    max-width: 1200px;
} */

#start {
    padding: 15px 40px;
    font-size: 2.5rem;
    font-weight: 800;
    text-transform: uppercase;
    cursor: pointer;
    background-color: var(--background-color-green-dark);
    width: 300px;
    border: none;
    color: var(--accent-color-white);
    border-radius: 10px;
}

#start:hover {
    transform: scale(1.1);
    transition-duration: 0.4s;
}

#start:active {
    transform: scale(0.9);
    transition-duration: 0.4s;
}

#output {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 900px;
    margin-top: 100px;
    color: var(--accent-color-white);
    background-color: var(--background-color-green-dark);
    border-radius: 5px;
    border: 3px solid var(--accent-color-white);
    height: 140px;
}

.score {
    width: 120px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.score.left {
    border-right: 3px solid var(--accent-color-white);
}

.score.right {
    border-left: 3px solid var(--accent-color-white);
}

.score-title {
    font-size: 2.5rem;
    font-weight: medium;
    text-transform: uppercase;
    border-top: 3px solid var(--accent-color-white);
    padding-top: 10px;
    width: 100%;
    height: calc(134px / 2);
}

.score-counter {
    font-size: 3rem;
    height: calc(134 / 2);
}

#resultDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
}

#resultText::first-letter {
    text-transform: uppercase;
}

.invisible {
    opacity: 0%;
    margin-right: 100%;
    width: 1px;
}

#input {
    max-width: 600px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

#input .btn {
    padding: 10px 20px;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    width: 170px;
    border-radius: 10px;
    background-color: var(--background-color-green-dark);
    color: var(--accent-color-white);
    border: none;
}

#input .btn:hover {
    transition-duration: 0.4s;
    transform: scale(1.1);
}

#input .btn:active {
    transition-duration: 0.4s;
    transform: scale(0.9);
}